<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project_page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_page.description %>
</p>

<%= link_to 'Edit', edit_project_page_path(@project_page) %> |
<%= link_to 'Back', project_pages_path %>
