<p id="notice"><%= notice %></p>

<h1>Pojects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pojects.each do |poject| %>
      <tr>
        <td><%= poject.title %></td>
        <td><%= poject.description %></td>
        <td><%= link_to 'Show', poject %></td>
        <td><%= link_to 'Edit', edit_poject_path(poject) %></td>
        <td><%= link_to 'Destroy', poject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poject', new_poject_path %>
