<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poject.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poject.description %>
</p>

<%= link_to 'Edit', edit_poject_path(@poject) %> |
<%= link_to 'Back', pojects_path %>
